* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only all and (max-width: 600px) {
  main {
    height: 100vh;
  }

  .input{
    display: flex;
    justify-content:center;
    margin:10px
  }
  .input-search-bar{
    width: 100%;
    // margin: 10px;
  }
  .search-icon{
    color: #325d79;
  }

  .MobileNavigation {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    height: 80px;
  }

  .hamburger {
    font-size: 35px;
    margin: 20px;
    color: #325d79;
  }
  // .search {
  //   font-size: 35px;
  //   // margin: 10px;
  //   margin-right: 20px;
  //   color: #325d79;
  // }

  .ui.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 90%;
    padding: 5px;
  }
  #meal-name {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 590;
    color: rgb(39, 94, 89);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: white;
    font-weight: bolder;
  }
  #image {
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    height: 30%;
  }
  .recipe-of-the-day {
    position: absolute;
    bottom: 8rem;
    // left: 2.2em;
    z-index: 20;
    background-color: rgb(255, 255, 255);
    padding: 0.25rem 1rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-radius: 4px;
    color: grey;
    padding: 4px;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
  }
  #category-section {
    height: 200px;
    display: flex;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(245, 249, 252);
  }

  #category-section .category-box {
    min-width: 110px;
    line-height: 10px;
    text-align: center;
  }

  #category-section::-webkit-scrollbar {
    display: none;
  }

  .category-image {
    border-radius: 50%;
    max-width: 90px;
    height: 90px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
  .category-name {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    color: rgb(39, 94, 89);
  }

  // MODAL
  #modal-category-name {
    color: rgb(39, 94, 89);
    font-size: 16px;
  }
  #modal-category-name-style {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

  #modal-meal-name h3 {
    width: 100%;
    border: 0.2px solid #325d79;
    border-left-style: none;
    border-right-style: none;
    font-size: 12.5px;
    color: #325d79;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
  }
  #modal-meal-description {
    font-size: 14px;
    font-weight: 300;
    color: #262727;
    margin: 12px;
  }
  #card > button {
    background: #325d79;
    color: white;
    font-weight: lighter;
  }
  #modal-meal-button-div {
    display: flex;
    justify-content: flex-end;
  }
  #modal-meal-button {
    width: 30%;
    background: #325d79;
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin: 10px;
  }
  #modal-meal-image img {
    width: 100% !important;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  #modal-meal-area {
    width: 100%;
    height: 55px;
    margin-top: 10px;
    margin-bottom: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #earth,
  #tag {
    margin-right: 5px;
    color: #325d79;
    font-size: 20px;
  }

  #modal-meal-area-div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #modal-meal-ingredients {
    font-size: 15px;
    color: rgb(77, 77, 76);
  }
  #modal-meal-ingredients-space {
    margin-bottom: 5px;
    font-family: "Karla" sans-serif;
    font-weight: 100;
  }
  #youtube {
    margin: 10px;
    display: flex;
  }
  #logo-youtube {
    color: #f7410a;
    font-size: 20px;
    margin-left: 4px;
  }
}
