* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only all and (max-width: 600px) {
  main {
    height: 100vh;
  }

  .ui.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 90%;
    padding: 5px;
  }
  #meal-name {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 590;
    color: rgb(39, 94, 89);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: white;
    font-weight: bolder;
  }
  #image {
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  .recipe-of-the-day {
    position: absolute;
    // bottom: 10rem;
    z-index: 20;
    background-color: rgb(255, 255, 255);
    padding: 0.25rem 1rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: grey;
    padding: 8px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
  }
  #category-section {
    height: 200px;
    display: flex;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(245, 249, 252);
  }

  #category-section .category-box {
    min-width: 110px;
    line-height: 10px;
    text-align: center;
  }

  #category-section::-webkit-scrollbar {
    display: none;
  }

  .category-image {
    border-radius: 50%;
    max-width: 90px;
    height: 90px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
  .category-name {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    color: rgb(39, 94, 89);
  }

  // modal
  #modal-category-name {
    color: rgb(39, 94, 89);
  }
  #modal-meal-name h3 {
    width: 220px;
    border: 0.2px solid #325d79;
    border-left-style: none;
    border-right-style: none;
    font-size: 12.5px;
    color: #325d79;
    transform: scaleY(1.5);
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    padding: 2px;
  }
  #modal-meal-description {
    font-size: 14px;
    font-weight: 300;
    color: rgb(128, 125, 125);
  }
  #modal-meal-button {
    background: #9bd7d1;
    color: white;
    font-size: 13px;
    font-weight: 400;
    font-family: "Karla", sans-serif;
  }
}
